* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: whitesmoke;
}

header {
  background-color: white;
}

nav {
  text-align: center;
  padding: 1rem;
}

nav a {
  font-weight: bold;
  text-decoration: none;
  color: gray;
}

nav a.current {
  color: #716eeb;
}

main,
footer {
  background-color: rgb(235, 235, 241);
  padding: 60px 235px;
}

a:focus {
  color: #716eeb;
}

.page-link {
  text-align: center;
  word-spacing: 8rem;
}

footer {
  padding-top: 10rem;
  text-align: center;
}

.font-size {
  font-size: 1.8rem;
  font-weight: 100;
}

.flex-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.new-membership-button,
.cancel-button {
  background-color: rgb(83, 83, 221);
  color: white;
  border: 0px;
  padding: 10px 20px;
  border-radius: 5px;
}

.Users-card-section {
  text-align: center;
}

a {
  text-decoration: none;
  color: grey;
}

a:focus {
  color: rgb(0, 49, 245);
}

footer {
  padding-top: 10rem;
  text-align: center;
}
