* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: whitesmoke;
}

header {
  background-color: white;
}

nav {
  text-align: center;
  padding: 1rem;
}

nav a {
  font-weight: bold;
  text-decoration: none;
  color: gray;
}

nav a.current {
  color: #716eeb;
}

main,
footer {
  background-color: rgb(235, 235, 241);
  padding: 60px 235px;
}

a:focus {
  color: #716eeb;
}

.page-link {
  text-align: center;
  word-spacing: 8rem;
}

footer {
  padding-top: 10rem;
  text-align: center;
}

.font-size {
  font-size: 1.8rem;
  font-weight: 100;
}

.create-user-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 50px;
  border: 1px solid rgb(233, 231, 231);
}

#grid-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  padding-bottom: 2rem;
}

#grid-wrap #email-div {
  grid-column: span 2;
  width: 50%;
}

#grid-wrap input,
#grid-wrap select {
  width: 100%;
  margin-top: 0.4rem;
  background-color: white;
  border: 1px solid rgb(240, 237, 237);
  padding: 0.6rem;
  border-radius: 5px;
}

#grid-wrap label i {
  color: orange;
  font-size: 12px;
}

form label {
  font-weight: 600;
}

label textarea {
  vertical-align: middle;
}

form div.buttons {
  text-align: center;
  padding-top: 2rem;
}

.cancel-button {
  background-color: white;
  border: none;
  padding-right: 30px;
  font-weight: 100;
  text-decoration: none;
  color: black;
}

.new-user-button {
  padding: 10px;
  color: white;
  background-color: #716eeb;
  border: 0;
  border-radius: 5px;
}

label {
  font-weight: 700;
}

.create-user-button {
  text-align: center;
}
